/*
-- Color Schematic with Codes --
Brownish-Orange: #7f3800
Burnt-Orange: #b35701
Orange: #e06706
Grayish-Blue: #3c4858
Gray: #a9aaaf
Light Gray: #dadbdc
*/

/* Variables */
:root {
  --brown-orange: #7f3800;
  --orange: #e06706;
  --burnt-orange: #b35701;
  --light-gray: #dadbdc;
  --gray-blue: #3c4858;
  --black: #363535;
  --gray: #a9aaaf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

p {
  color: var(--light-gray);
  font-size: 16px;
  font-weight:500;
  -webkit-text-stroke-width: 0.15px;
  -webkit-text-stroke-color: var(--black);
  letter-spacing: 1.2;
  line-height: 1.5;
}

h1,
h2 {
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 1.5px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

/* h1 is just my name */
h1 {
  padding: 10px;
  margin: 0 5px;
}

h2 {
  text-align: center;
  margin-bottom: 35px;
}

/* Should remove all text decorations on links */
a {
  text-decoration: none;
}

/* Contain images to containers */
img {
  width: 100%;
}

/* Navbar */
.navbar {
  background-color: var(--gray-blue);
  color: var(--burnt-orange);
}

/* Flex box within the navbar uses space between */
.navbar .flex {
  justify-content: space-between;
}

/* All Links Position Right */
.navbar ul {
  display: flex;
}

.navbar li {
  text-decoration: none;
  display: inline-block;
}

/* Text Color for all links in Nav Bar */
.navbar a {
  color: var(--burnt-orange);
  padding: 10px;
  margin: 0 30px;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1.2px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

/* Links when hovered will have a solid line appear */
.navbar a:hover {
  border-bottom: 2px var(--light-gray) solid;
}

/* Hero */
.hero {
  background-image: linear-gradient(176deg, var(--gray-blue) 70%, var(--light-gray) calc(70% + 2px));
  height: 650px;
}

.hero .grid {
  position: relative;
  top: 100px;
  grid-template-columns: 70% 30%;
  gap: 100px;
}

/* Format Skill Set Info */
.hero .card {
  width: fit-content;
}

.btn-wrapper {
  padding-top: 20px;
  text-align: center;
}

/* About me */
.headshot-img {
  position: absolute;
  left: -15%;
  top: -18%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  box-shadow: 0 3px 10px rgba(234, 103, 15, 0.931);
}

/* Need to refactor to card class */
.about-me .card {
  position: relative;
  max-width: 400px;
}

.about-me h2 {
  font-size: 24px;
  margin-bottom: 35px;
  padding: 40px 10px 20px 10px;
  border-bottom: 3px solid;
  width: fit-content;
  margin-inline: auto;
}

/* Project Section */
.project {
  background-color: var(--light-gray);
}

.project .container {
  padding: 150px 0px 20px 0px;
  overflow: hidden;
}

/* Projects title */
.project h2 {
  padding: 0px 5px 5px 0px;
  margin-bottom: 0px;
  font-size: 72px;
  border-bottom: 5px solid;
  border-right: 3px solid;
  color: var(--gray-blue);
}

/* Need to refactor using utilities */
/* Slideshow container */
.project .card {
  height: 400px;
  width: 600px;
  position: relative;
  margin-left: 100px;
}

/* Hide the images by default */
.myProjects {
  padding: 5px 75px;
  display: none;
  color: var(--light-gray);
  font-size: 16px;
  font-weight:500;
  -webkit-text-stroke-width: 0.15px;
  -webkit-text-stroke-color: var(--black);
  letter-spacing: 1.2;
  line-height: 1.5;
}

/* Formatting inside of project text */
.project h3 {
  width:fit-content;
  padding: 5px;
  margin-bottom: 30px;
  margin-inline: auto;
  border-bottom: 2px var(--light-gray) solid;
  font-weight: bolder;
  letter-spacing: 1.5px;
  -webkit-text-stroke-width: 0.15px;
  -webkit-text-stroke-color: black;
}

.project li {
  padding-top: 20px;
}

/* Next & previous buttons */
.prev, 
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, 
.next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Utilities */
/* Container for navbar that keeps alignment on screen stretch */
.container {
  padding: 0px 40px;
  max-width: 1400px;
  margin: 0px auto;
  overflow: auto;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: var(--light-gray);
  background-color: var(--gray-blue);
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 3px 10px rgba(0,0,0,0.8);
  -webkit-text-stroke-width: 0.15px;
  -webkit-text-stroke-color: var(--black);
}

.btn:hover {
  transform: scale(.80);
  background-color: var(--light-gray);
  color: var(--gray-blue);
}

/* Display in a flex */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Display in a grid */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: visible;
}

.card {
  border-radius: 20px;
  min-width: 400px;
  max-height: fit-content;
  min-height: 400px;
  background: var(--black);
  color: var(--light-gray);
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Single Tab */
.tab { 
  text-indent: 40px; 
}

/* Double Tab */
.doubleTab { 
  text-indent: 80px; 
}